body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d9ebf3;
    color: #333;
}

header {
    background: linear-gradient(to right, #3498db, #2c3e50);
    padding: 1em 0;
    text-align: center;
    color: #ecf0f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.about-image {
    
    max-width: 50%; /* Adjust the maximum width as needed */
    height: auto;
    margin-top: 20px;
    border-radius:10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    float: right;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.2em;
}

section {
    padding: 3em 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
    padding: 1.5em;
    box-sizing: border-box;
}

.column h2 {
    color: #2c3e50;
}

footer {
    background: linear-gradient(to right, #2c3e50, #34495e);
    padding: 1.5em 0;
    text-align: center;
    color: #ecf0f1;
    border-top: 2px solid #2c3e50;
}

/* Additional styling for new sections */

#blog,
#services,
#testimonials,
#contact {
    background: linear-gradient(to right, #fff, #c2ecfd);
    padding: 3em 0;
}

#blog h2,
#services h2,
#testimonials h2,
#contact h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

article {
    margin-bottom: 30px;
}

article h3 {
    color: #2c3e50;
}

.service,
.testimonial {
    margin-bottom: 30px;
}

.service h3,
.testimonial blockquote {
    color: #2c3e50;
}

#contact p {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #2c3e50;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

form button {
    background: linear-gradient(to right, #2c3e50, #34495e);
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: linear-gradient(to right, #34495e, #2c3e50);
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .column {
        width: 100%;
    }

    form {
        padding: 0 20px; /* Adjust as needed for smaller screens */
    }
}
